In [8]:
import pandas as pd
import uuid
import hashlib

In [2]:
data = pd.DataFrame({
    "nombre":["Ana","Juan","Luis","Pedro","Silvina"],
    "email":["Ana@ejemplo.com","Juan@ejemplo.com","Luis@ejemplo.com","Pedro@ejemplo.com","Silvina@ejemplo.com"],
    "ubicacion":["A","B", "C", "D", "E"]
})

In [3]:
data

    nombre                email ubicacion
0      Ana      Ana@ejemplo.com         A
1     Juan     Juan@ejemplo.com         B
2     Luis     Luis@ejemplo.com         C
3    Pedro    Pedro@ejemplo.com         D
4  Silvina  Silvina@ejemplo.com         E

In [4]:
id_pseudo = []

In [5]:
for i in range(len(data)):
    id_pseudo.append(str(uuid.uuid4()))

In [6]:
id_pseudo

['0797cb8a-b7b6-44fc-9206-049b105f922e',
 '5df1ff87-84e0-4f02-9507-04247f25f249',
 '39172faa-9eb8-4b0f-a07a-8c6542a68e05',
 '0c0b2cc1-5fbc-4722-bd51-5a438ffb2621',
 'fc730419-3059-40d4-aff8-ca612ff67f56']

In [7]:
data["id_pseudo"] = id_pseudo
data.drop(["nombre"], axis=1, inplace=True)
data

                 email ubicacion                             id_pseudo
0      Ana@ejemplo.com         A  0797cb8a-b7b6-44fc-9206-049b105f922e
1     Juan@ejemplo.com         B  5df1ff87-84e0-4f02-9507-04247f25f249
2     Luis@ejemplo.com         C  39172faa-9eb8-4b0f-a07a-8c6542a68e05
3    Pedro@ejemplo.com         D  0c0b2cc1-5fbc-4722-bd51-5a438ffb2621
4  Silvina@ejemplo.com         E  fc730419-3059-40d4-aff8-ca612ff67f56

In [12]:
# Hashing
def hash_data(data):
    return hashlib.sha256(data.encode()).hexdigest()

In [10]:
hash_emails = []

In [13]:
for email in data["email"]:
    h_email = hash_data(email)
    hash_emails.append(h_email)
data["email"] = hash_emails
data

,email,ubicacion,id_pseudo
0,f2afd7121dd8d0345afccd3e7601c7864172a0f04122c0...,A,0797cb8a-b7b6-44fc-9206-049b105f922e
1,ec003b385ff8150a7b02f0acc0dc892fcbf9ee32c05bdb...,B,5df1ff87-84e0-4f02-9507-04247f25f249
2,d0489c9e1f942e1282a0c2c7fe74242c56a7e647e4f3e8...,C,39172faa-9eb8-4b0f-a07a-8c6542a68e05
3,859bd1bb1aedc842e0a3cb6d13bab39e7be8d36e381cea...,D,0c0b2cc1-5fbc-4722-bd51-5a438ffb2621
4,9ccae6067180e04e263205978bac4b0285a0413dbbbef9...,E,fc730419-3059-40d4-aff8-ca612ff67f56

In [14]:
mis_tokens = {}

In [15]:
def tokenizar(dato):
    token = str(uuid.uuid4())
    mis_tokens[token] = dato
    return token

In [16]:
def recuperar_dato(token):
    return mis_tokens.get(token,"Token no valido")

In [17]:
dato_original = "123-456-789"
token = tokenizar(dato_original)

In [19]:
print(f'token generado = {token}')
print(f'dato recuperado = {recuperar_dato(token)}')
mis_tokens

token generado = 5eb26fe5-0543-45c2-baa7-5d284b51a768
dato recuperado = 123-456-789

{'5eb26fe5-0543-45c2-baa7-5d284b51a768': '123-456-789'}