In [5]:
import pandas as pd

In [6]:
datos = {"nombre":["Pedro","Juan","Lorena"], "edad":[25,49,23]}

In [7]:
datos

{'nombre': ['Pedro', 'Juan', 'Lorena'], 'edad': [25, 49, 23]}

In [8]:
df = pd.DataFrame(datos)

In [9]:
df

   nombre  edad
0   Pedro    25
1    Juan    49
2  Lorena    23

In [10]:
type(df)

pandas.core.frame.DataFrame

In [11]:
df["nombre"]

0     Pedro
1      Juan
2    Lorena
Name: nombre, dtype: object

In [13]:
print(df.nombre)
type(df.nombre)

0     Pedro
1      Juan
2    Lorena
Name: nombre, dtype: object

pandas.core.series.Series