## Ejercicio DataFrames en Pandas 1
Crea un DataFrame llamado datos_clima usando Pandas para cargar un archivo CSV llamado "clima.csv" que supuestamente contiene datos sobre temperaturas y precipitaciones en diferentes ciudades. Asegúrate de importar Pandas antes de intentar cargar el archivo.

Considera que tu archivo "clima.csv" se encuentra en la misma ubicación que el archivo de tu código, por lo cual puedes importarlo usando su nombre incluyendo la extensión .csv

In [2]:
import pandas as pd

In [4]:
datos_clima = pd.read_csv("Precipitaciones.csv")

In [6]:
datos_clima.head()

,region,enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre,anual
0,A CORUNA,240.5,293.4,31.0,80.6,149.5,108.9,44.6,21.8,96.5,154.5,100.8,214.8,1536.9
1,ALBACETE,68.1,28.0,26.2,65.3,25.4,50.0,2.0,34.5,48.0,44.8,33.1,14.1,439.5
2,ALICANTE,49.2,3.7,63.2,85.8,57.2,20.0,9.2,5.0,44.0,41.1,47.4,1.8,427.6
3,ALMERIA,56.3,5.2,35.8,43.1,38.8,16.9,10.2,1.9,17.4,27.3,32.6,3.2,288.7
4,ARABA,96.8,79.9,38.0,52.0,37.7,107.8,8.5,17.7,63.3,38.5,212.2,197.3,949.7

In [12]:
serie = datos_clima["region"]
serie.head()

0    A CORUNA
1    ALBACETE
2    ALICANTE
3     ALMERIA
4       ARABA
Name: region, dtype: object

In [14]:
datos = [10,20,30,40,50]
series = pd.Series(datos)

In [16]:
series

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [18]:
index = ["a","b","c","d","e"]
series = pd.Series(datos, index)

In [20]:
series

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [22]:
series["b"]

20

In [28]:
serie_sum = series + 10
serie_sum

a    20
b    30
c    40
d    50
e    60
dtype: int64

In [34]:
serie_sum["b"] = serie_sum["b"] - 5
serie_sum

a    20
b    35
c    40
d    50
e    60
dtype: int64