In [38]:
import pandas as pd

data = {
    "id_producto":[1001,1002,1003,1003],
    "Quantity":[30,None,25,25],
    "Preu":[20.5,15.0,None,22.5]
}

In [39]:
df = pd.DataFrame(data)

In [40]:
df

   id_producto  Quantity  Preu
0         1001      30.0  20.5
1         1002       NaN  15.0
2         1003      25.0   NaN
3         1003      25.0  22.5

In [41]:
df.shape

(4, 3)

In [42]:
df.columns

Index(['id_producto', 'Quantity', 'Preu'], dtype='object')

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id_producto  4 non-null      int64
 1   Quantity     3 non-null      float64
 2   Preu         3 non-null      float64
dtypes: float64(2), int64(1)
memory usage: 228.0 bytes

In [44]:
df.isnull()

   id_producto  Quantity   Preu
0        False     False  False
1        False      True  False
2        False     False   True
3        False     False  False

In [45]:
df.isnull().sum()

id_producto    0
Quantity       1
Preu           1
dtype: int64

In [46]:
df_eliminar_files_null = df.dropna()
df_eliminar_files_null

   id_producto  Quantity  Preu
0         1001      30.0  20.5
3         1003      25.0  22.5

In [47]:
refill = {"Quantity":0, "Preu":df["Preu"].mean()}
df_rellenar_datos = df.fillna(refill)
df_rellenar_datos

   id_producto  Quantity       Preu
0         1001      30.0  20.500000
1         1002       0.0  15.000000
2         1003      25.0  19.333333
3         1003      25.0  22.500000

In [48]:
df_rellenar_datos["Quantity"] = df_rellenar_datos["Quantity"].astype(int)
df_rellenar_datos

   id_producto  Quantity       Preu
0         1001        30  20.500000
1         1002         0  15.000000
2         1003        25  19.333333
3         1003        25  22.500000

In [56]:
df_unicos = df_rellenar_datos.drop_duplicates(subset="id_producto")
df_unicos

   id_producto  Quantity       Preu
0         1001        30  20.500000
1         1002         0  15.000000
2         1003        25  19.333333