In [5]:
import pandas as pd

In [6]:
datos = {"nombre":["Pedro","Juan","Lorena"], "edad":[25,49,23]}

In [7]:
datos

{'nombre': ['Pedro', 'Juan', 'Lorena'], 'edad': [25, 49, 23]}

In [8]:
df = pd.DataFrame(datos)

In [9]:
df

   nombre  edad
0   Pedro    25
1    Juan    49
2  Lorena    23

In [10]:
type(df)

pandas.core.frame.DataFrame

In [11]:
df["nombre"]

0     Pedro
1      Juan
2    Lorena
Name: nombre, dtype: object

In [13]:
print(df.nombre)
type(df.nombre)

0     Pedro
1      Juan
2    Lorena
Name: nombre, dtype: object

pandas.core.series.Series

exercici 1:

In [17]:
data = {"nombre":["Ana","Luis","Carlos"], "edad":[30,25,40]}
data

{'nombre': ['Ana', 'Luis', 'Carlos'], 'edad': [30, 25, 40]}

In [18]:
df_empleados = pd.DataFrame(data)
print(df_empleados)

   nombre  edad
0     Ana    30
1    Luis    25
2  Carlos    40

Exercici 2

In [21]:
edades = df_empleados.edad
print(edades)

0    30
1    25
2    40
Name: edad, dtype: int64

In [26]:
shape_df = df.
shape_df

TypeError: 'Index' object is not callable