## Ejercicio Tipos de Datos en Pandas 3
Dado el DataFrame df_empleados creado en el ejercicio anterior:

La columna nombre debe contener los nombres de tres empleados: 'Ana', 'Luis' y 'Carlos'

La columna edad debe contener las edades correspondientes: 30, 25 y 40

Para explorar sus atributos principales: shape, columns, y index.

Utilizando las siguientes variables respectivamente: shape_df, columns_df, index_df 

Imprime los resultados de cada exploraci贸n para demostrar tu comprensi贸n de la estructura de los DataFrames y las Series en Pandas.

El resultado esperado es el siguiente:



No te preocupes si en este momento no entiendes del todo estos resultados, porque en la pr贸xima lecci贸n los veremos a detalle.

In [2]:
import pandas as pd

In [4]:
datos = {"nombres":['Ana', 'Luis' ,'Carlos'], "edades":[30,25,40]}

In [6]:
df_empleados = pd.DataFrame(datos)

In [12]:
shape_df = df_empleados.shape
shape_df

(3, 2)

In [16]:
df_columns = df_empleados.columns
df_columns

Index(['nombres', 'edades'], dtype='object')

In [18]:
df_index = df_empleados.index
df_index

RangeIndex(start=0, stop=3, step=1)