In [3]:
import pandas as pd
import numpy as np

Realitzar un DataFrame a partir de les dades

In [28]:
df = pd.read_csv("datos_meteorologicos.csv")
df

           Fecha  Temperatura  Precipitación    Humedad
0     01/01/2010    17.440675      10.957482  52.384637
1     02/01/2010    25.759468       5.315628  30.633530
2     03/01/2010    20.138169      15.317706  41.496715
3     04/01/2010    17.244159      13.151008  90.684704
4     05/01/2010    11.182740      16.413667  22.116422
...          ...          ...            ...        ...
5105  24/12/2023    -9.554692      12.700998  50.094533
5106  25/12/2023     2.837831       5.475686  92.456057
5107  26/12/2023    29.873597       4.615012  18.362847
5108  27/12/2023          NaN            NaN        NaN
5109  28/12/2023    37.308043       7.330510  50.646211

[5110 rows x 4 columns]

Realitzar observacions

In [29]:
df.head(10)

        Fecha  Temperatura  Precipitación    Humedad
0  01/01/2010    17.440675      10.957482  52.384637
1  02/01/2010    25.759468       5.315628  30.633530
2  03/01/2010    20.138169      15.317706  41.496715
3  04/01/2010    17.244159      13.151008  90.684704
4  05/01/2010    11.182740      16.413667  22.116422
5  06/01/2010    22.294706      13.359970  29.415165
6  07/01/2010    11.879361       9.038980  15.462342
7  08/01/2010          NaN            NaN        NaN
8  09/01/2010    38.183138       1.112009  57.646964
9  10/01/2010     9.172076       6.158725  52.688831

In [30]:
df.describe()

       Temperatura  Precipitación      Humedad
count  4855.000000    4855.000000  4855.000000
mean     14.889296       9.901604    54.359061
std      14.440466       5.801842    26.096345
min      -9.996378       0.003008    10.014980
25%       2.651777       4.756907    31.866578
50%      14.693274       9.853698    54.254478
75%      27.381451      14.966997    77.029500
max      39.998201      19.999559    99.996582

In [31]:
df.isna().sum()

Fecha              0
Temperatura      255
Precipitación    255
Humedad          255
dtype: int64

In [32]:
df.shape

(5110, 4)

convertir les columnes del dataframe en arrays de numpy

In [37]:
array = np.array(df)
temperatura = np.array(df["Temperatura"])
precipitacion = np.array(df["Precipitación"])
humedad = np.array(df["Humedad"])

In [34]:
array

array([['01/01/2010', 17.440675196366236, 10.957481997233586,
        52.38463748841593],
       ['02/01/2010', 25.75946831862097, 5.3156276517729895,
        30.63352983123037],
       ['03/01/2010', 20.138168803582197, 15.317706093986718,
        41.49671457625978],
       ...,
       ['26/12/2023', 29.87359717232944, 4.61501176564858,
        18.362847375985744],
       ['27/12/2023', nan, nan, nan],
       ['28/12/2023', 37.3080431767716, 7.33051023049333,
        50.646210575443774]], dtype=object)

substituir els faltants per valors mitjos

In [39]:
#Identifiquem les dades faltants de cada array
temp_nul = np.isnan(temperatura)
prec_nul = np.isnan(precipitacion)
hum_nul = np.isnan(humedad)

In [42]:
media_temp_nul = np.nanmean(temperatura)
media_prec_nul = np.nanmean(precipitacion)
media_hum_nul = np.nanmean(humedad)

In [46]:
#Reemplazar dades
temperatura[temp_nul] = media_temp_nul
precipitacion[prec_nul] = media_prec_nul
humedad[hum_nul] = media_hum_nul

In [45]:
np.isnan(temperatura).sum()

0

# Temperatura promedio

In [48]:
temperatura_mean = np.mean(temperatura)
temperatura_mean

14.889295723531713

In [50]:
precpitaciones_totales = np.sum(precipitacion)
precpitaciones_totales

50597.19438939993

In [52]:
humedad_max = np.max(humedad)
humedad_max

99.99658156071747