In [9]:
import numpy as np
import pandas as pd

In [10]:
ruta = "Ciudades_Visitadas_Latinoamerica_2023.csv"
df = pd.read_csv(ruta)
df

              Ciudad       País  Población  Visitantes
0   Ciudad de México     México    9265833    21000000
1       Buenos Aires  Argentina    3059574    15000000
2     Río de Janeiro     Brasil    6748314    13000000
3               Lima       Perú    9756020     9000000
4             Bogotá   Colombia    7181663     8000000
5  Santiago de Chile      Chile    6199241     7500000
6          São Paulo     Brasil   12333146    20000000
7          La Habana       Cuba    2164182     4000000
8             Cancún     México     888124     5000000
9          Cartagena   Colombia    1036671     3000000

In [11]:
df["Población"].mean()

5863276.8

In [12]:
np.round(df["Población"].mean())

5863277.0

In [13]:
np.min(df["Visitantes"])

3000000

# Introducción a NumPy 1
Se te ha proporcionado un dataset que contiene información sobre varias ciudades, incluyendo su población y el número de visitantes anuales. Este dataset está representado en el siguiente DataFrame de Pandas:



datos = {
    "Ciudad": ["Ciudad de México", "Buenos Aires", "Río de Janeiro", "Lima", "Bogotá", "Santiago de Chile", "São Paulo", "La Habana", "Cancún", "Cartagena"],
    "País": ["México", "Argentina", "Brasil", "Perú", "Colombia", "Chile", "Brasil", "Cuba", "México", "Colombia"],
    "Población": [9265833, 3059574, 6748314, 9756020, 7181663, 6199241, 12333146, 2164182, 888124, 1036671],
    "Visitantes": [21000000, 15000000, 13000000, 9000000, 8000000, 7500000, 20000000, 4000000, 5000000, 3000000]
}


Utilizando los métodos adecuados de numpy  para calcular el promedio de la población de todas estas ciudades y redondea el resultado, el cual debes almacenar en una variable llamada: promedio_poblacion

In [16]:


datos = {
    "Ciudad": ["Ciudad de México", "Buenos Aires", "Río de Janeiro", "Lima", "Bogotá", "Santiago de Chile", "São Paulo", "La Habana", "Cancún", "Cartagena"],
    "País": ["México", "Argentina", "Brasil", "Perú", "Colombia", "Chile", "Brasil", "Cuba", "México", "Colombia"],
    "Población": [9265833, 3059574, 6748314, 9756020, 7181663, 6199241, 12333146, 2164182, 888124, 1036671],
    "Visitantes": [21000000, 15000000, 13000000, 9000000, 8000000, 7500000, 20000000, 4000000, 5000000, 3000000]
}

df = pd.DataFrame(datos)
promedio_poblacion = np.mean(df["Población"])
promedio_poblacion

5863276.8